* {
  margin: 5px;
  padding: 10px;
}

.menubalk {
    overflow: hidden;
    background-color: #000000;
}
.menubalk a {
    float: left;
    display: block;
    color: #0000EE;
    text-align: center;
    margin: 0px 50px 0px 0px;
    text-decoration: none;
}
background-color: #000000;
.menubalk a:hover {
    color: black;
}

body {
  word-spacing: 3px;
  letter-spacing: 1px;
  color: #0000EE;
  background-color: #000000;
  background-image: url('https://bluesoul.files.wordpress.com/2012/10/basketball-as-soccer-248js062910.png');
  background-repeat: no-repeat;
}

h1 {
  margin: 0 30% 0 30%; /* links en rechts 30% marge, boven en onder geen marge  */
  border: 4px solid blue;
  border-radius: 20px 20px 20px 20px;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  color: #0000EE;
  background-color: #000000;
}

h2 {
  margin: 0 30% 0 30%; /* links en rechts 30% marge, boven en onder geen marge  */
  border: 4px solid blue;
  border-radius: 20px 20px 20px 20px;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  color: #0000EE;
  background-color: #000000;
}

p{
  border: 4px solid blue;
  border-radius: 0px 0px 0px 0px;
  text-align: justify;
  font-size: 20px;
  line-height: 130%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

p.tussenhaakjes {
  color: darkblue;
  font-style: italic;
  font-weight: bold;
  font-size: 120%
}
