/* alle pagina's zijn standaard grijs */
body {
  font-family: Georgia;
  background-color: gray;
  word-spacing: 3px;
  letter-spacing: 1px;
}

h1 {
  font-weight: normal;
  font-style: italic;
  font-family: Georgia;
  text-align: center;
  word-spacing: 3px;
  letter-spacing: 1px;
}

h2 {
  font-weight: normal;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  word-spacing: 3px;
  letter-spacing: 1px;
}

p{
  text-align: justify;
  font-size: 32px;
  line-height: 130%;
  word-spacing: 3px;
  letter-spacing: 1px;
}
