
.menubalk {
    overflow: hidden;
    background-color: #000000;
}
.menubalk a {
    float: left;
    display: block;
    color: #00FF00;
    text-align: center;
    margin: 0px 50px 0px 0px;
    text-decoration: none;
}
background-color: #000000;
.menubalk a:hover {
    color: black;
}

body {
  background-color: #eeeeff;
  color: #800095;
}

p.vraag {
  background-color: #eeeeff;
  margin: 10px;
}

p.antwoord {
  color: yellow;
  background-color: yellow;
}

h1 {
  text-align: center;
}

h2 {
  background-color: #DD0000;
}

p.antwoord:hover {
  color: black;
}

p#uitleg {
  margin: 0 0 0 60%; /* links 50% marge, boven en onder geen marge  */
}
