footer {
  position: fixed;
  bottom:0;
  margin-left: 80%
}

ul {
    list-style-type: none;
    position: sticky;
    margin: 0;
    padding: 0.5%;
    overflow: hidden;
    background-color: #333;
    font-size: 25px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
}

.tussenhaakjes {
  color: #47CA1E;
  font-family: Georgia;
  font-size: 25px;
}

body {
  color: #FFFFFF;
  background-color: #000000;
}

header {
  font-size: 50px;
  padding-bottom: 40px;
  padding-top: 20px;
  margin-left: 1.5%;
}

h1 {
  font-size: 40px;
  margin-left: 1.5%;
}

section {
  font-size: 20px;
  margin-bottom: 1%;
  padding-right: 40%;
  margin-left: 1.5%;
}

img {
  margin-top: 20px;
  margin-bottom: 20px;
}
