/* Add a black background color to the top navigation */
.topnav {
  position: sticky;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #102C07;
  color: #47CA1E;
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #47CA1E;
  text-align: center;
  padding: 14px 92.5px;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #1A6C00;
  color: #0C1E07;
  text-align: center;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #102C07;
    color: #47CA1E;
    text-align: center;
}

footer {
  position:absolute;
  bottom:0;
}

.height {
  position: absolute;
  bottom: 0;
  top: 130%;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
    text-align: center;
}
