/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    margin-right: 612px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: White;
    text-align: center;
    padding: 14px 92.5px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: white;
  color: black;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #4CAF50;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

body {
  word-spacing: 0px;
  font-family: Georgia;
  color: White;
  background-image: url('https://1.bp.blogspot.com/-iFJtOYWGJz0/U2uCVpZ2f5I/AAAAAAAArR8/Cgq6dJ3Lkn4/s1600/zwarte-desktop-achtergrond-met-paarse-kop-van-leeuw.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 17px;
}

h1 {
  word-spacing: 0px;
  font-family: Georgia;
  color: White;
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 50px;
}

p {
  word-spacing: 0px;
  font-family: Georgia;
  color: White;
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 20px;
  font-weight: bold;
}
